.fontnote{font-family: 'DM Serif Display', serif;
font-family: 'Quicksand', sans-serif;}

.nav-link{font-family: 'DM Serif Display', serif;}


#hero-text{font-family: 'DM Serif Display', serif;
margin-top:10rem;}